<!DOCTYPE html>
<html>

<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Author Meta -->
  <meta name="author" content="Shophopping">
  <!-- Meta character set -->
  <meta charset="UTF-8">
  
  <!-- Title -->
  <title>ShopHopping | Grocery Planner and Item Locator</title>
  <!-- Favicon -->
  <link rel='icon' href='../../styles/favicon.ico' type='image/x-icon'>
  <!-- CSS -->
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>
  {{{body}}}

  <!-- Footer -->
  <footer class="footer-centered navbar-fixed-bottom">
    <p class="footer-links">
      <a href="/">Home </a><span style="color:#6dabe4"> ·</span>
      <a href="about.html">About</a>
    </p>
    <div class="footer-text">
      Copyright &copy;
      <script>document.write(new Date().getFullYear());</script> ShopHopping by Grocery 4 Less. All rights
      reserved.</span><br>
      <span>Made with <i class="fas fa-heart" aria-hidden="true"> + Grit </i> in Toronto, Canada.</span>
    </div>
  </footer>
  <!--/. Footer -->
  <!-- Link to jQuery, Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>