<!-- Top NavBar -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand  mr-auto d-block ml-5" href="/">
        <span><img src="https://i.imgur.com/pED5pcN.png" width="215" height="125" alt="Logo"></span>
    </a>
</nav>
<!--/. Top NavBar -->
<div class="container about">
    <!-- Our Mission -->
    <div class="mission text-center">
        <h2><span class="underline-title">Our Mission</span></h2>
        <p>To help customers stay <strong>on course</strong> and <strong>on budget</strong>
            with mapping where items are located for shopping the
            supermarket.
        </p>
        <img src="../assets/images/walmart.jpg" alt="team" height="220" width="1000" class="rounded">
    </div>
    <!--/. Our Mission -->
    <!-- Our Team -->
    <div class="team text-center">
        <h2><span class="underline-title">Our Team</span></h2>
        <p><strong>The talent behind the app share their grocery experience.</strong></p>
        <div>
            <p>Q1. What is your favourite grocery aisle/section?</p>
            <p>Q2. Where do you do your regular grocery run?</p>
            <p>Q3. What is the average time you spend at the supermarket per trip?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h5>Paul <i class="fas fa-cookie-bite"></i></h5>
            <ul>
                <li>Snack Food</li>
                <li>Sobey's</li>
                <li>15 minutes</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h5>Kai-Ann <i class="fas fa-ice-cream"></i></h5>
            <ul>
                <li>Frozen Food</li>
                <li>Any supermarket</li>
                <li>20 minutes</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h5>Brij <i class="fas fa-sim-card"></i></h5>
            <ul>
                <li>Tech Section</li>
                <li>Any supermarket / Indian Grocery</li>
                <li>15 minutes</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h5>Kathy <i class="fas fa-carrot"></i></h5>
            <ul>
                <li>Fruits + Veg</li>
                <li>Costco / Farmer's Market</li>
                <li>2 hours</li>
            </ul>
        </div>
    </div>
    <!--/. Our Team -->
    <!-- Our Process -->
    <div class="process">
        <h2><span class="underline-title">Our Process</span></h2>
        <div class="row">
            <div class="col-md-6">
                <h3>1. Define</h3>
                <p><em>What is the opportunity/problem identified?</em></p>
                <img src="../assets/images/team.jpg" alt="team" height="300" width="420" class="rounded">
            </div>
            <div class="col-md-6 offset-md-6">
                <h3>2. Ideate</h3>
                <p><em>What do we create?</em></p>
                <img src="../assets/images/app-ideas.jpg" alt="team" height="220" width="500" class="rounded">
            </div>
        </div>
        <h3>3. Prototype</h3>
        <p><em>How do we build our idea?</em></p>
        <div class="row">
            <div class="prototype col-md-4">
                <img src="../assets/images/sketch.png" alt="prototype" height="290" width="330" class="rounded">
            </div>
            <div class="prototype col-md-4">
                <img src="../assets/images/user-flow.jpg" alt="prototype" height="350" width="330" class="rounded">
            </div>
            <div class="prototype col-md-4">
                <img src="../assets/images/prototype.png" alt="prototype" height="320" width="350" class="rounded">
            </div>
        </div>
        <h3>4. Test</h3>
        <p><em>How do we prove and improve the idea?</em></p>
        <div class="row">
            <div class="prototype col-md-4">
                <img src="../assets/images/pathfinder.jpg" alt="prototype" height="200" width="370" class="rounded">
            </div>
            <div class="prototype col-md-4">
                <img src="../assets/images/test.png" alt="prototype" height="400" width="350" class="rounded">
            </div>
            <div class="prototype col-md-4">
                <img src="../assets/images/testing.jpg" alt="prototype" height="450" width="350" class="rounded">
            </div>
        </div>
    </div>
</div>
<!--/. Our Process -->
<!-- Footer -->
<footer class="footer-centered navbar-fixed-bottom">
    <p class="footer-links">
        <a href="/">Home </a><span style="color:#6dabe4"> ·</span>
        <a href="/about">About</a>
    </p>
    <div class="footer-text">
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> ShopHopping by Grocery 4 Less. All rights
        reserved.</span><br>
        <span>Made with <i class="fas fa-heart" aria-hidden="true"> + Grit </i> for U of T Coding Bootcamp in
            Toronto,
            Canada.</span>
    </div>
</footer>
<!--/. Footer -->