<div id="home">
<!-- Top NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
    <a class="navbar-brand mr-auto d-block ml-5" href="/">
        <img src="https://i.imgur.com/pED5pcN.png" width="215" height="125" alt="Logo">
        <a class="navbar-brand mr-auto d-block" href="/"></a>
        <li class="nav-item">
            <button class="btn btn-outline-danger my-2 my-sm-0 mr-5" style="width:135px" onclick="location.href='/'"
                type="button">
                Sign out</button>
        </li>
        {{!-- <button onclick="location.href='/'" type="button">
          Sign out</button> --}}
        </ul>
        </div>
    </a>
</nav>


  <!--/. Top NavBar -->
      <div class="col-md-12">
        <!-- Greetings and Search -->
        <div class="row wrap">
              <h1 class="col-md-12 text-center">Welcome Shop-hoppers!</h1>
              <div class="col-md-2"></div>
                <div class="col-md-8 search">
                  <input type="text" class="searchTerm" id="searchInput" placeholder="What are you looking for?" onkeypress="handle">
                  <button type="button" class="searchButton" id="submitInput">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
                <div class="col-md-2"></div>
          </div>
       
        <!--/. Greetings and Search -->
         

         <!--/. AMENITIES -->
        <div class="row"> 
          <div class="col-md-3"></div>
          <div class=" amenities">
            <div class="row">
              
              <button type="button" class="btn btn-success my-2 my-sm-0 mr-4 title" role="alert" style="color:aliceblue">Click Below on Amenities or Product images to find out the location</button>
             
                    <div class="row info">
                  <button type="button" class="btn btn-warning my-2 my-sm-0 mr-4 infoBut" style="color:aliceblue" id="carts">Carts</button>
                  <button type="button" class="btn btn-warning my-2 my-sm-0 mr-4 infoBut" style="color:aliceblue" id="washrooms">Washrooms</button>
                  <button type="button" class="btn btn-warning my-2 my-sm-0 mr-4" style="color:aliceblue" id="lotto">Lotto</button>
                  <button type="button" class="btn btn-warning my-2 my-sm-0 mr-4 infoBut" style="color:aliceblue" id="medicalcentre">Medical Centre</button>
                  <button type="button" class="btn btn-warning my-2 my-sm-0 mr-4 infoBut" style="color:aliceblue" id="visioncentre">Vision Centre</button>
                  </div>
                   <div class="row amenitiesBelow"> 
                     <button type="button" class="btn btn-warning my-2 my-sm-0 mr-4 infoBut" style="color:aliceblue" id="customerservice">Customer Service</button>
                   <button type="button" class="btn btn-warning my-2 my-sm-0 mr-4 infoBut" style="color:aliceblue" id="restaurant">Restaurant</button>
                 <button type="button" class="btn btn-warning my-2 my-sm-0 mr-4" style="color:aliceblue" id="hairsalon">Hair Salon</button>
                <button type="button" class="btn btn-warning my-2 my-sm-0 mr-4" style="color:aliceblue" id="nailsalon">Nail Salon</button>
               
                
                </div>  
            </div>
          </div>
        </div>
        <!--/. AMENITIES -->
        
        
        <!-- Map -->
        <div class="row">
              
              <div class="col-md-2 itemsCol">
                <div class="items">
                  
                </div>
              </div>
              <div class="col-md-9 map" id="route">
              <img src="/assets/images/walmart.png" alt="">
              <div><img src="assets/images/pin.png" class="pin1"></div>
              <div><img src="assets/images/pin.png" class="pin2"></div>
              </div>
              
              
        </div>
        <!--/. Map -->
        <div class="row">
          <!-- Footer -->
        <div class="col-md-12 bottom">
          <footer class="footer-centered navbar-fixed-bottom">
              <p class="footer-links">
                  <a href="/">Home </a><span style="color:#6dabe4"> ·</span>
                  <a href="/about">About</a>
              </p>
              <div class="footer-text">
                  Copyright &copy;
                  <script>document.write(new Date().getFullYear());</script> ShopHopping by Grocery 4 Less. All rights
                  reserved.</span><br>
                  <span>Made with <i class="fas fa-heart" aria-hidden="true"> + Grit </i> for U of T Coding Bootcamp in Toronto, Canada.</span>
              </div>
          </footer>
        </div>
      </div>
          <!--/. Footer -->
    </div>

</div>
    
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>