<!-- Top NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
  <a class="navbar-brand mr-auto d-block ml-5" href="/signin">
    <img src="https://i.imgur.com/pED5pcN.png" width="215" height="125" alt="Logo">
    <a class="navbar-brand mr-auto d-block" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn my-2 my-sm-0 mr-3" style="color:aliceblue" onclick="location.href='/signin'"><strong>Sign
              in</strong>
        </li>
      </ul>
      <li class="nav-item">
        <button class="btn btn-outline-warning my-2 my-sm-0 mr-5" style="width:135px" onclick="location.href='/signup'"
          type="button">
          Sign up</button>
      </li>
      {{!-- <button onclick="location.href='/'" type="button">
          Sign out</button> --}}
      </ul>
    </div>
  </a>
</nav>

<div class="hero-bkg-animated">
  <h1>Welcome Shop-hoppers!</h1>
  <div class="wrap">
    <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>
<!--/. Top NavBar -->
{{!-- <div id="home"></div>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1>{{msg}}</h1>
      <h2>This is our Home Page!</h2>
      <form class="clearfix mb-4" action="POST">
        <div class="form-group">
          <label for="example-text">Example Text</label>
          <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
            placeholder="Enter Example Text">
        </div>
        <div class="form-group">
          <label for="example-description">Example Description</label>
          <textarea class="form-control" id="example-description" aria-describedby="example-description"
            placeholder="Enter Example Description"></textarea>
        </div>
        <button id="submit" class="btn btn-primary float-right">Submit</button>
      </form>
      <h3>Examples:</h3>
      <ul id="example-list" class="list-group">
        {{#each examples}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="example/{{this.id}}">{{this.text}}</a>
          <button class="btn btn-danger float-right delete">ｘ</button>
        </li>
        {{/each}}
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="col-md-3 itemsCol">
      <div class="items">

      </div>
    </div>
    <div class="col-md-9 map fixed">
      <img src="/assets/images/walmart.png" alt="">
      <div><img src="assets/images/pin.png" class="pin1"></div>
    </div>

  </div>
</div>

</div> --}}



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>