<!-- Top NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
  <a class="navbar-brand mr-auto d-block ml-5" href="/">
    <img src="https://i.imgur.com/pED5pcN.png" width="215" height="125" alt="Logo">
    <a class="navbar-brand mr-auto d-block" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn my-2 my-sm-0 mr-3" style="color:aliceblue" onclick="location.href='/signin'"><strong>Sign
              in</strong>
        </li>
      </ul>
      <li class="nav-item">
        <button class="btn btn-outline-warning my-2 my-sm-0 mr-5" style="width:135px" onclick="location.href='/signup'"
          type="button">
          Sign up</button>
      </li>
      {{!-- <button onclick="location.href='/'" type="button">
          Sign out</button> --}}
      </ul>
    </div>
  </a>
</nav>
<!--/. Top NavBar -->

<!-- Greetings and Search -->
<div class="wrap">
  <h1>Welcome Shop-hoppers!</h1>
    <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>
<!--/. Greetings and Search -->

<!-- Map -->
<div class="container">
  <div class="row">
    <div class="col-md-9 map fixed">
      <img src="/assets/images/walmart.png" alt="">
      <div><img src="assets/images/pin.png" class="pin1"></div>
    </div>
  </div>
</div>
<!--/. Map -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>