/*--------------------------- Responsive guide ----------------------*/

/* Medium Layout: 1280px */

/* Tablet Layout: 768px */

/* Mobile Layout: 320px */

/* Wide Mobile Layout: 480px */

/* =================================== */

/*  Main
/* =================================== */

body {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.list-group-item {
  line-height: 2.5;
}

.map {
  position: static fixed;
  z-index: 0;
  widows: 100%;
}

.pin1 {
  position: absolute;
  z-index: 1;
  width: 20px;
  left: 669px;
  top: 329px;
}

/*--------------------------------------------------------------
# Top Nav Bar
--------------------------------------------------------------*/

.logoImage {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
}

ul, li {
  list-style: none;
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 120px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/

.wrap {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-bkg-animated {
  background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
  width: 100%;
  text-align: center;
  height: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  position: absolute;
  -webkit-animation: slide 20s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}