/*--------------------------- Responsive guide ----------------------*/

/* Medium Layout: 1280px */

/* Tablet Layout: 768px */

/* Mobile Layout: 320px */

/* Wide Mobile Layout: 480px */

/* =================================== */

/*  Main
/* =================================== */
html, body {
 background-color: #cbc7c2;
}
body {
  /* font-size: 18px; */
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  padding: 30px;
  text-align: center;
}

.list-group-item {
  line-height: 2.5;
}

/*--------------------------------------------------------------
# Top Nav Bar
--------------------------------------------------------------*/

.logoImage {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
}

ul, li {
  list-style: none;
}

.navSign {
width:135px;
}

.nav-item {
 width: 140px;
  display: inline-block;
}
/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 120px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.amenities {
  position: static fixed;
  z-index: 0;
  height: 200px;
  width:800px;
  margin-left: 40px;
  /* border: 1px solid black; */
  padding-top: 50px;
  padding-bottom: 350px;
}
.info {
  padding-top: 20px;
  margin-left: 1px;
}

.amenitiesBelow, .infoBut {
  margin-top: 20px;
  margin-left: 1px;
} 

.title {
 margin-left: 30px;
}

.map {
  position: static fixed;
  z-index: 0;
  bottom: 0px;
}

.pin1, .pin2 {
  position: absolute;
  z-index: 1;
  width: 20px;
}

.itemsCol {
  position: static fixed;
  z-index: 0;
  overflow-y: scroll;
  height: 980px;
  margin-left: 20px;
  border: 1px solid black;
}

.products {
padding-left: 0px;
padding-right: 0px;
}

.search1:hover{
  cursor: pointer;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.bottom {
  padding-top: 200px;
}
.footer-centered {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font: "Poppins", sans-serif;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: 0px;
  color: #494845;
  font-size: 16px;
  margin: 0;
  background: #ebebeb;
}

.footer-centered .footer-links {
  list-style: none;
  font-weight: bold;
  color: #494845;
  padding: 20px 0 23px;
  margin: 0;
  word-spacing: 15px;
}

.footer-centered .footer-links a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.footer-text, .footer-text a {
  color: #494845;
  font-size: 12px;
}

/*---- Responsiveness ----*/

@media (max-width: 320px) {
  .footer-centered {
    padding: 35px;
  }
  .footer-centered {
    font-size: 18px;
  }
  .footer-centered {
    font-size: 12px;
  }
  .footer-centered .footer-links {
    font-size: 14px;
    padding: 25px 0 20px;
  }
  .footer-centered .footer-links a {
    line-height: 3;
  }
}

@media (max-width: 768px) {
  .footer-centered {
    padding: 35px;
  }
  .footer-centered {
    font-size: 18px;
  }
  .footer-centered {
    font-size: 12px;
  }
  .footer-centered .footer-links {
    font-size: 14px;
    padding: 25px 0 20px;
  }
  .footer-centered .footer-links a {
    line-height: 3;
  }
}

@media (max-width: 1280px) {
  .footer-centered {
    padding: 35px;
  }
  .footer-centered {
    font-size: 18px;
  }
  .footer-centered {
    font-size: 12px;
  }
  .footer-centered .footer-links {
    font-size: 14px;
    padding: 25px 0 20px;
  }
  .footer-centered .footer-links a {
    line-height: 3;
  }
}


/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/

.about {
  padding: 25px;
}

.mission,
.team,
.process {
  padding: 20px;
  margin: 15px;
}

h2, h5 {
  padding: 25px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.underline {
  border-bottom: 3px wavy #fdd53e;
  padding: 3px;
}

.underline-title {
  border-bottom: 3px solid #fdd53e;
  border-bottom-width: 5px;
}

.fas,
.far {
  color: #667ce0;
  border: solid 1px;
  padding: 5px;
}

.prototype {
  float: left;
  width: 33.33%;
  padding: 25px;
}

/* Clearfix (clear floats) */
.prototype::after {
  clear: both;
  display: table;
}